extends base.jade

block title
  | Select Browser

block body
  #s-browser
    p Select the browser you wish to use CacheBrowser with
    .browsers
      span.browser.chrome(ng-click="$$.selectBrowser('chrome')"
        ng-class="$$.selectedBrowser=='chrome' ? 'active' : ''")
        i.browser-icon.fa.fa-4x.fa-chrome
      span.browser.firefox(ng-click="$$.selectBrowser('firefox')"
        ng-class="$$.selectedBrowser=='firefox' ? 'active' : ''")
        i.browser-icon.fa.fa-4x.fa-firefox
