#p-home {
    padding: 20px;

    .cb-font {
        font-family: 'neuropol', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    header {
        text-align: center;
        margin-bottom: 50px;

        .title {
            font-weight: bold;
            font-size: 24px;
            cursor: default;
        }
    }

}
