#p-home {
    padding: 20px;
    background-color: #f8f8f8;
    .cb-font {
        font-family: 'neuropol', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    header {
        text-align: center;
        margin-bottom: 50px;

        .title {
            font-weight: bold;
            font-size: 24px;
            cursor: default;
        }
    }

    .status-row {
        margin-top: -30px;
        margin-bottom: 20px;
        margin-left: 20px;
        .label {
            margin-left: 20px;
        }
        .status-box {
            padding-left: 10px;
            padding-right: 10px;
            margin: 0px;
            text-align: center;
            font-weight: bold;
        }
    }


    .news {
        .panel-body {
            height: 230px;
        }
    }

    .featured-websites {
        .panel-body {
            padding-top: 10px;
        }
        .featured-website {
            text-align: center;
            display: inline-block;
            margin-right: 10px;
            margin-left: 10px;
            cursor: pointer;

            .img-wrapper {
                width: 100px;
                height: 100px;
                vertical-align: middle;
            }
            label {
                font-weight: bold;
            }
        }
    }

    .browser-icon-container {
        text-align: center;
        .browser-icon {
            cursor: pointer;
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

.p-browser-plugin {
    background-color: white;
    height: 100%;

    .panel-title {
        i {
            margin-right: 10px;
        }
    }

    .btn-install {
        float: right;
        margin-top: -8px;
        width: 80px;
    }

    .loader-container {
        height: 100px;
    }
}

#p-chrome {

}